:root {
  /* 🎨 BASE COLOR */
  --color-folder: #ffcc00;
  --color-file: #e3e3e3;
  --color-pdf: #e20000;
  --color-button-back: #034fff;

  /* 📏 SPACE */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;

  /* 🧱 SIZE */
  --size-header-height: 66px;
  --size-logo: 42px;
  --size-button-md: 40px;
  --size-entry-row-height: 72px;
  --size-icon-xs: 16px;
  --size-icon-sm: 20px;
  --size-icon-md: 24px;
  --size-entry-row-icon: 56px;

  /* 🧵 TYPOGRAPHY */
  --font-base: "Inter", sans-serif;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-weight-bold: 700;

  /* 🟣 RADIUS */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-full: 9999px;

  --gap-tree-view: 10px;
  --gap-list-view: 12px;
}
