.entry-card {
  list-style: none;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid black;
  overflow: hidden;
  color: var(--text-primary);
  background-color: var(--surface);
}

.entry-card-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.entry-card-link:visited {
  color: inherit;
}

.entry-card-img {
  max-width: 100%;
  aspect-ratio: 210 / 297;
  object-fit: cover;
}

.entry-card-text {
  padding: 6px;
  overflow: hidden;
}
.entry-card-text .entry-card-name {
  font-weight: 500;
  font-size: 16px;
  margin: 0px;
}
