.entry-row {
  height: var(--size-entry-row-height);
  width: 100%;
  padding: var(--space-sm) var(--space-md);
  position: relative;
}

.entry-row-anchor {
  display: flex;
  align-items: center;
  column-gap: var(--space-md);
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.entry-row-anchor:visited {
  color: inherit;
}

.entry-row-icon-box {
  width: var(--size-entry-row-icon);
  height: var(--size-entry-row-icon);
  border-radius: var(--space-sm);
  overflow: hidden;
}

.entry-row-icon-box svg {
  width: 100%;
  height: 100%;
  stroke: var(--color-text-primary);
  stroke-width: var(--size-icon-sm);
  stroke-linejoin: round;
  paint-order: stroke;
}

.entry-row-icon-box.folder-icon svg {
  fill: var(--color-folder);
}

.entry-row-icon-box.file-icon svg {
  fill: var(--color-file);
}

.entry-row-icon-box.pdf-icon svg {
  fill: var(--color-pdf);
}

.entry-row-text {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.entry-row-text-name {
  color: var(--color-text-primary);
  margin: 0px;
  font-size: 16px;
}

.entry-row-text-desc {
  color: var(--color-text-secondary);
  margin: 0px;
  font-size: 14px;
}
