{# PDF CARD #}
{% macro pdf_entry(pdf, cover = "", view = 'row') %}
{% if view == 'card' %}
<li class="entry-card">
	<a class="entry-card-link" href="{{ url_for('serve_book', path=pdf.relpath) }}">
		<img class="entry-card-img" src="{{ cover }}" />
		<div class="entry-card-text">
			<p class="entry-card-name" title="{{ pdf.name }}">
				{{ pdf.name|trim|truncate(20,True) }}
			</p>
		</div>
	</a>
</li>
{% elif view == 'row' %}
<li class="entry-row">
	<a class="entry-row-anchor" href="{{ url_for('serve_book', path=pdf.relpath) }}">
		<div class="entry-row-icon-box pdf-icon">
			{% include "icons/pdf-outline.svg" %}
		</div>
		<div class="entry-row-text">
			<h4 class="entry-row-text-name">{{ pdf.name }}</h4>
			<p class="entry-row-text-desc">{{ pdf.strmtime('%d-%m-%y') }} - {{ pdf.strsize() }}</p>
		</div>
	</a>
</li>
{% endif %}
{% endmacro %}
